<div xld-page="1,1,1" class='xld-col-1' ng-controller='xldCtrlPartner'>
<div class="xld-page-header xld-page-pad" >
asdf
</div>
<div class='xld-page-pad'>
	<label>Id:</label><br/>
	<input ng-model="s.partner._rows[0].partnerId" disabled /><br/>
	<label>Name:</label><br/>
	<input ng-model="s.partner._rows[0].partnerName" /><br/>
	<label>Status:</label><br/>
	<select ng-model="s.partner._rows[0].partnerStatus" >
		<option>programmer</option>
		<option>customer</option>
	</select>
	<br/>
	<br/>
	<br/>
	<button ng-click='save()'>Save</button>
</div>


</div>

